<style>
  .card-container h1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
  }
</style>
<div class="p-fluid">
  <div class="grid">
    <div class="col-12">
      <app-widget-breadcrumb [model]="breadcrumbModel"> </app-widget-breadcrumb>
    </div>
  </div>
  <div class="form-group">
    <div class="grid">
      <div class="col-12">
        <p-card header="" class="p-card-grid content">
          <div class="grid mb-4">
            <div class="col-12">
              <h5>Add Employee</h5>
            </div>
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <div class="grid">
                    <div class="col-12">
                      <label for="">Username</label>
                    </div>
                    <div class="col-12">
                      <input pInputText id="username" aria-describedby="username-help" placeholder="Username" [(ngModel)]="frmEmployee.username" [ngModelOptions]="{standalone: true}" (input)="validateUsername()" (blur)="usernameTouched = true" [required]="!usernameValid" />
                      <small *ngIf="!usernameValid && usernameTouched" id="username-help" class="p-error">{{ usernameMessage }}</small>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">First Name</label>
                        </div>
                        <div class="col-12">
                          <input pInputText id="first-name" aria-describedby="first-name-help" placeholder="First Name" [(ngModel)]="frmEmployee.firstName" [ngModelOptions]="{standalone: true}" (input)="validateFirstName()" (blur)="firstNameTouched = true" [required]="!firstNameValid" />
                          <small *ngIf="!firstNameValid && firstNameTouched" id="first-name-help" class="p-error">{{ firstNameMessage }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Last Name</label>
                        </div>
                        <div class="col-12">
                          <input pInputText id="last-name" aria-describedby="last-name-help" placeholder="Last Name" [(ngModel)]="frmEmployee.lastName" [ngModelOptions]="{standalone: true}" (input)="validateLastName()" (blur)="lastNameTouched = true" [required]="!lastNameValid" />
                          <small *ngIf="!lastNameValid && lastNameTouched" id="last-name-help" class="p-error">{{ lastNameMessage }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Email</label>
                        </div>
                        <div class="col-12">
                          <input pInputText id="email" name="email" aria-describedby="email-help" placeholder="Email" [(ngModel)]="frmEmployee.email" [ngModelOptions]="{standalone: true}" (input)="validateEmail()" (blur)="emailTouched = true" [required]="!emailValid" />
                          <small *ngIf="!emailValid && emailTouched && !isEmailValid(frmEmployee.email)" id="email-help" class="p-error">{{ emailMessage }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Birth Date</label>
                        </div>
                        <div class="col-12">
                          <p-calendar id="birthDate" name="birthDate" [maxDate]="maxDate" required [(ngModel)]="frmEmployee.birthDate" aria-describedby="birth-date-help" (onSelect)="validateBirthDate()" [showIcon]="true"></p-calendar>
                          <small *ngIf="!birthDateValid && birthDateTouched" id="birth-date-help" class="p-error">{{ birthDateMessage }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Basic Salary</label>
                        </div>
                        <div class="col-12">
                          <p-inputNumber id="basicSalary" name="basicSalary" aria-describedby="basic-salary-help" mode="currency" currency="IDR" locale="id-ID" [required]="true" [(ngModel)]="frmEmployee.basicSalary"></p-inputNumber>
                          <small *ngIf="!basicSalaryValid" id="basic-salary-help" class="p-error">{{ basicSalaryMessage }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                      <div class="col-12">
                        <label for="">Group</label>
                      </div>
                      <div class="col-12">
                        <p-dropdown [options]="optGroup" [filter]="true" name="group" placeholder="Select Group" aria-describedby="group-help" [(ngModel)]="frmEmployee.group" [ngModelOptions]="{standalone: true}" (blur)="validateGroup()" [required]="true"></p-dropdown>
                        <small *ngIf="(!groupValid && groupTouched) || !isGroupValid(frmEmployee.group)" id="group-help" class="p-error">{{ groupMessage }}</small>
                      </div>
                    </div>
                </div>
                <div class="col-12 flex">
                  <button pButton type="submit" (click)="onSubmit()" label="Submit" class="" style="width: 25%; background-color: #1D3364;"></button>
                  <button pButton (click)="onCancel()" label="Cancel" class="" style="width: 10%; background-color: #dfe30b; outline-color: #dfe30b; margin-left: 2rem; border-color: #dfe30b;"></button>
              </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
