<style>
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}
</style>
<div class="loading-screen" *ngIf="isLoading">
    <p-blockUI [blocked]="true"></p-blockUI>
</div>
