<style>
  .card-container h1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
  }
</style>
<p-toast></p-toast>
<div class="p-fluid">
  <div class="grid">
    <div class="col-12">
      <app-widget-breadcrumb [model]="breadcrumbModel"> </app-widget-breadcrumb>
    </div>
  </div>
  <div class="form-group">
    <div class="grid">
      <div class="col-12">
        <p-card header="" class="p-card-grid content">
          <div class="grid mb-4">
            <div class="col-12">
              <h5>Employee</h5>
            </div>
            <div class="col-12">
              <p-table #dataTableEmployee [value]="dataEmployees" dataKey="email" (sortFunction)="customSort($event)" editMode="row" [scrollable]="true" scrollHeight="500px"
              [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
              [globalFilterFields]="['firstName', 'lastName', 'email', 'basicSalary', 'status']" [customSort]="true">
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <div class="col-3">
                      <button pButton label="Add Employee" class="p-button-outlined" [routerLink]="['/employee/add']"></button>
                    </div>
                    <div class="col-5"></div>
                    <div class="col-4">
                      <span class="p-input-icon-left ml-auto">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onSearchInputChange($event)" [(ngModel)]="searchValue" placeholder="Search" />
                      </span>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="birthDate">Birth Date <p-sortIcon field="birthDate"></p-sortIcon></th>
                        <th pSortableColumn="basicSalary">Basic Salary <p-sortIcon field="basicSalary"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="rowData" (click)="onRowSelect(rowData)">
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="rowData.firstName">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.firstName}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="rowData.lastName">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.lastName}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="rowData.email">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.email}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                <p-calendar appendTo="body" [(ngModel)]="rowData.birthDate"></p-calendar>
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.birthDate | date: 'dd MM yyyy'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="rowData.basicSalary" mode="currency" currency="IDR"></p-inputNumber>
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.basicSalary | currency: 'Rp.'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <p-dropdown [options]="statusOptions" appendTo="body" [(ngModel)]="rowData.status" optionLabel="label"></p-dropdown>
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.status}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                        <td>
                          <button *ngIf="!editing" type="button" class="p-button-warning" pButton pInitEditableRow  icon="pi pi-pencil" (click)="onRowEditInit(rowData)" class="mr-2" style="background-color: yellow; border-color: yellow;"></button>
                          <button *ngIf="!editing" type="button" class="p-button-danger" pButton icon="pi pi-trash" (click)="onRowDelete(rowData, ri)" class="mr-2" style="background-color: red; border-color: red;"></button>

                          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
