<style>

.validation-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.wrap-login {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.login-left {
  width: calc(50%);
  min-height: 100vh;
  background-color: #f7f7f7;
}

.login-left-context {
  padding: 115px 135px 55px 135px;
}

.login-left-title {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login-right {
  background-image: url('../../assets/login_background.png');
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login-right::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}

@media (max-width: 992px) {
  .login-left {
    width: 50%;
  }

  .login-left-context {
    padding-left: 30px;
    padding-right: 30px;
  }

  .login-right {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login-left {
    width: 100%;
  }

  .login-right {
    display: none;
  }
}

@media (max-width: 576px) {
  .login-left-context {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}
</style>
<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-left">
                <div style="margin-left: 1em; margin-top: 1em;">
                    <p-image src="../../assets/ahsn_icon.png" alt="Image" width="100"></p-image>
                </div>
                <div class="login-left-context">
                    <span class="login-left-title">
                        Welcome to 'Ang Prim'
                    </span>
                    <div class="row p-3">
                      <form>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label htmlFor="username"><b style="color: #1D3364;">Username</b></label>
                                <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="dataLogin.username_email" [ngModelOptions]="{standalone: true}" (input)="validateUsername()" (blur)="usernameTouched = true" [required]="!usernameValid" />
                                <small *ngIf="!usernameValid && usernameTouched" id="username-help" class="p-error">{{ usernameMessage }}</small>
                            </div>
                        </div>
                        <div class="col-12">
                          <div class="flex flex-column gap-2">
                            <label for="password"><b style="color: #1D3364;">Password</b></label>
                            <p-password id="password" [(ngModel)]="dataLogin.password" [feedback]="false" [toggleMask]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [ngModelOptions]="{standalone: true}" (input)="validatePassword()" (onBlur)="passwordTouched = true" [required]="!passwordValid"></p-password>
                            <small *ngIf="!passwordValid && passwordTouched" class="p-error">{{ passwordMessage }}</small>
                          </div>                                                    
                        </div>
                        <!-- <div class="col-12" style="color: #1D3364; font-weight: bold;">
                            <div class="flex justify-content-between flex-wrap"> -->
                                <!-- <p-checkbox class="" name="ck_remember_me" label="Remember me" [binary]="true" inputId="ck_remember_me" [(ngModel)]="rememberPass" (onChange)="rememberPass = rememberPass? true :false"></p-checkbox>
                                <label class="" (click)="forgetPassClick()">Forget Password?</label> -->
                                <!-- <app-captcha [captchaVerified]="isCheck" (statusVerified)="setVerifiedCaptcha($event)"></app-captcha>                                
                            </div>
                        </div> -->
                        <div class="col-12 flex">
                            <button pButton type="submit" (click)="onSignIn()" label="Sign In" class="" style="width: 100%; background-color: #1D3364;"></button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
            <div class="login-right">
            </div>
        </div>
    </div>
</div>
