<div class="p-fluid">
    <div class="grid">
        <div class="col-12">
            <div class="p-card p-5">
                <div class="grid">
                    <div class="col-12 text-center">
                        <h1><b><i>{{ errorCode }}</i></b></h1>
                        <h2>{{ errorQuote }}</h2>
                        <p>{{ errorMessage }}</p>
                    </div>
                    <div class="col-2 col-offset-5">
                        <div class="text-center">
                            <ng-container *ngIf="hasLogin; else elseTemplate">
                                <p-button label="Back" class="layout-detail-desktop" severity="primary" [style]="{'background-color': '#1D3364', 'float':'left'}" (click)="back()" ></p-button>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <p-button label="Back to Login" class="layout-detail-desktop" severity="primary" [style]="{'background-color': '#1D3364', 'float':'left'}" (click)="login()" ></p-button>                               
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>