<style>
    @media (max-width: 640px) {
        .layout-detail-desktop {
            display: none;
        }
    }
    @media (max-width: 768px) {
        .layout-detail-desktop {
            display: none;
        }
    }
    @media (max-width: 1024px) {
        .layout-detail-desktop {
            display: none;
        }
    }
    @media (min-width: 1024px) {
        .layout-detail-mobile {
            display: none;
        }
    }
</style>
<div class="p-fluid">
    <div class="grid">
      <div class="col-12">
        <app-widget-breadcrumb [model]="breadcrumbModel"> </app-widget-breadcrumb>
      </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <div class="p-card mt-4">
                <div class="grid">
                    <div class="col-12 p-4">
                        <h5>Setting</h5>
                        <p-divider></p-divider>
                        <div class="col-12">
                            <div class="grid">
                                <div class="col-12">
                                    <label htmlFor="name">Username</label>
                                    <input
                                        type="text"
                                        [(ngModel)]="dataUserDetail.username"
                                        pInputText
                                        placeholder="Username"
                                        id="inputAddUsername"
                                        value=""
                                        [style]="{ width: '100%' }"
                                        (change)="onChangeSubmitEditPeople()"
                                    />
                                </div>
                            </div>

                            <div class="grid">
                                <div class="col-12">
                                    <label htmlFor="name">Display Name</label>
                                    <input
                                        type="text"
                                        [(ngModel)]="dataUserDetail.display_name"
                                        pInputText
                                        placeholder="Display Name"
                                        id="inputAddFirstName"
                                        value=""
                                        [style]="{ width: '100%' }"
                                        (change)="onChangeSubmitEditPeople()"
                                        pKeyFilter="alpha"
                                    />
                                </div>
                            </div>

                            <div class="grid">
                                <div class="col-12">
                                    <label htmlFor="name">Email</label>
                                    <input
                                        type="text"
                                        [(ngModel)]="dataUserDetail.email"
                                        pInputText
                                        placeholder="Email"
                                        id="inputAddEmail"
                                        value=""
                                        [style]="{ width: '100%' }"
                                        (change)="onChangeEmailInput()"
                                    />
                                </div>
                            </div>

                            <div class="grid">
                                <div class="col-12">
                                    <label htmlFor="name"></label>
                                    <p-message severity="error" 
                                        text="Enter a valid email address"
                                        [hidden]=errorEmail> 
                                    </p-message>
                                </div>
                            </div>

                            <p-divider></p-divider>
                            <div class="grid">
                                <div class="col-12">
                                    <label htmlFor="oldPassword">New Password</label>
                                    <p-password [(ngModel)]="dataUserPassword.password" [toggleMask]="true" (change)="onChangeSubmitEditPeople()">
                                        <ng-template pTemplate="header">
                                            <h6>Enter new password</h6>
                                        </ng-template>
                                        <ng-template pTemplate="footer">
                                            <p-divider></p-divider>
                                            <p class="mt-2">Suggestions</p>
                                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                                <li>At least one lowercase</li>
                                                <li>At least one uppercase</li>
                                                <li>At least one numeric</li>
                                                <li>Minimum 8 characters</li>
                                            </ul>
                                        </ng-template>
                                    </p-password>
                                </div>
                                <div class="col-12">
                                    <label htmlFor="newPassword">Confirm New Password</label>
                                    <p-password [(ngModel)]="dataUserPassword.confirmPassword" [toggleMask]="true" [feedback]="false" [disabled]="disabledConfirmPassword" (change)="onChangePasswordInput()" (paste)="onPaste($event)"></p-password>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="col-12">
                                    <label htmlFor="name"></label>
                                    <p-message severity="error" 
                                        text="Password do not match"
                                        [hidden]=errorPassword> 
                                    </p-message>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="col-12" style="display: flex; justify-content: flex-end;">
                                    <div class="col-2">
                                        <button
                                            id="submitButton"
                                            pButton
                                            type="submit"
                                            label="Save"
                                            style=" background-color: #1D3364 "
                                            [disabled]="disabledSubmitButton"
                                            (click)="onClickSubmit()"
                                        ></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>