* {
    box-sizing: border-box;
}
.swal2-container {
  z-index: 100000 !important;
}
.swal2-actions .swal2-styled.swal2-confirm,
.swal2-styled.swal2-deny {
  background-color: #1d3364 !important;
}
html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: #F0F5F9;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #1d3364;
}

.layout-wrapper {
    min-height: 100vh;
}