<style>
.breadcrumb-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
</style>
<div class="breadcrumb-container">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>