<style>
  ::ng-deep .p-button.p-button-danger.p-button-outlined, .p-buttonset.p-button-danger > .p-button.p-button-outlined, .p-splitbutton.p-button-danger > .p-button.p-button-outlined {
    background-color: white;
    color: white;
    border: 1px solid;
}
</style>

<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/phpm-monitoring">
        <img src="assets/ahsn_icon.png" alt="logo">
    </a>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div class="display-menu-desktop">
            <button class="p-link layout-topbar-button" (click)="displayNotificationButton()">
                <i
                    class="pi pi-bell p-text-secondary"
                    pBadge
                    [value]="notificationArray.length"
                ></i>
            </button>
        </div>
        <div class="display-menu-mobile">
            <button class="p-link layout-topbar-button" (click)="displayNotificationButton()">
                <i
                    class="pi pi-bell p-text-secondary"
                    pBadge
                    [value]="notificationArray.length"
                ></i>
                <span>Notifications</span>
            </button>
        </div>
        <div class="display-menu-desktop">
            <div class="p-link">
                <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button>
                <p-menu #menu [model]="profileItems" [popup]="true"></p-menu>
            </div>
        </div>
        <div class="display-menu-mobile">
            <button class="p-link layout-topbar-button" [routerLink]="['/profile-setting']">
                <i class="pi pi-cog"></i>
                <span>Setting</span>
            </button>
            <button class="p-link layout-topbar-button" (click)="onLogOut()">
                <i class="pi pi-sign-out"></i>
                <span>Log Out</span>
            </button>
        </div>
    </div>
</div>

<p-dialog
    class="display-menu-desktop"
    header="Notifications"
    [(visible)]="displayNotification"
    [position]="'top'"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [draggable]="false"
>
  <ng-container *ngIf="notificationArray.length < 1; else elseLoop">
    <div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <i class="pi pi-bell" style="font-size: 25px"></i>
      </div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <label for="detailText"><strong>No Notifications</strong></label>
      </div>
    </div>
  </ng-container>
  <ng-template #elseLoop>
    <ng-container *ngFor="let detail of notificationArray; let i = index">
      <p-card header="" class="content" [style]="{ 'margin-bottom': '4px' }">
        <div class="grid" [style]="{ display: 'flex', 'align-items': 'center' }">
          <div class="col-8">
            <label for="detailText"
              ><strong>{{ detail.message }}</strong></label
            >
          </div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <label for="detailText"
              ><strong>{{ detail.time }}</strong></label
            >
          </div>
          <div class="col-8" [style]="{ color: '#1D3364' }">{{ detail.messageDetail1 }}<br>{{ detail.messageDetail2 }}</div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined"
              (click)="cutArrayNotification(i)"
              style="
                margin: 0px !important;
                background-color: red !important;
                padding: 0px !important;
                height: 2em !important;
                width: 2em !important;
              "
            ></button>
          </div>
        </div>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>

<p-dialog
    class="display-menu-mobile"
    header="Notifications"
    [(visible)]="displayNotification"
    [position]="'top'"
    [modal]="true"
    [style]="{ width: '80vw' }"
    [draggable]="false"
>
  <ng-container *ngIf="notificationArray.length < 1; else elseLoop">
    <div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <i class="pi pi-bell" style="font-size: 25px"></i>
      </div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <label for="detailText"><strong>No Notifications</strong></label>
      </div>
    </div>
  </ng-container>
  <ng-template #elseLoop>
    <ng-container *ngFor="let detail of notificationArray; let i = index">
      <p-card header="" class="content" [style]="{ 'margin-bottom': '4px' }">
        <div class="grid" [style]="{ display: 'flex', 'align-items': 'center' }">
          <div class="col-8">
            <label for="detailText"
              ><strong>{{ detail.message }}</strong></label
            >
          </div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <label for="detailText"
              ><strong>{{ detail.time }}</strong></label
            >
          </div>
          <div class="col-8" [style]="{ color: '#1D3364' }">{{ detail.messageDetail }}</div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined"
              (click)="cutArrayNotification(i)"
              style="
                margin: 0px !important;
                background-color: red !important;
                padding: 0px !important;
                height: 2em !important;
                width: 2em !important;
              "
            ></button>
          </div>
        </div>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>