<div class="layout-topbar">
    <div class="p-link .layout-topbar-button-notfound">
    </div>
    <a class="layout-topbar-logo-notfound" routerLink="/phpm-monitoring">
        <img src="assets/ahsn_icon.png" alt="logo">
    </a>

    <div class="p-link layout-topbar-menu-button layout-topbar-button">
    </div>
</div>

<!-- <p-dialog
    class="display-menu-desktop"
    header="Notifications"
    [(visible)]="displayNotification"
    [position]="'top'"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [draggable]="false"
>
  <ng-container *ngIf="notificationArray.length < 1; else elseLoop">
    <div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <i class="pi pi-bell" style="font-size: 25px"></i>
      </div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <label for="detailText"><strong>Tidak Ada Notifikasi</strong></label>
      </div>
    </div>
  </ng-container>
  <ng-template #elseLoop>
    <ng-container *ngFor="let detail of notificationArray; let i = index">
      <p-card header="" class="content" [style]="{ 'margin-bottom': '4px' }">
        <div class="grid">
          <div class="col-8">
            <label for="detailText"
              ><strong>{{ detail.message }}</strong></label
            >
          </div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <label for="detailText"
              ><strong>{{ detail.time }}</strong></label
            >
          </div>
          <div class="col-8" [style]="{ color: 'blue' }">{{ detail.messageDetail }}</div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined"
              (click)="cutArrayNotification(i)"
              style="
                margin: 0px !important;
                background-color: transparent !important;
                padding: 0px !important;
                height: 2em !important;
                width: 2em !important;
              "
            ></button>
          </div>
        </div>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>

<p-dialog
    class="display-menu-mobile"
    header="Notifications"
    [(visible)]="displayNotification"
    [position]="'top'"
    [modal]="true"
    [style]="{ width: '80vw' }"
    [draggable]="false"
>
  <ng-container *ngIf="notificationArray.length < 1; else elseLoop">
    <div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <i class="pi pi-bell" style="font-size: 25px"></i>
      </div>
      <div class="col-12" [style]="{ display: 'flex', 'justify-content': 'center' }">
        <label for="detailText"><strong>Tidak Ada Notifikasi</strong></label>
      </div>
    </div>
  </ng-container>
  <ng-template #elseLoop>
    <ng-container *ngFor="let detail of notificationArray; let i = index">
      <p-card header="" class="content" [style]="{ 'margin-bottom': '4px' }">
        <div class="grid">
          <div class="col-8">
            <label for="detailText"
              ><strong>{{ detail.message }}</strong></label
            >
          </div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <label for="detailText"
              ><strong>{{ detail.time }}</strong></label
            >
          </div>
          <div class="col-8" [style]="{ color: 'blue' }">{{ detail.messageDetail }}</div>
          <div class="col-4" [style]="{ display: 'flex', 'justify-content': 'flex-end' }">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined"
              (click)="cutArrayNotification(i)"
              style="
                margin: 0px !important;
                background-color: transparent !important;
                padding: 0px !important;
                height: 2em !important;
                width: 2em !important;
              "
            ></button>
          </div>
        </div>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog> -->