<ul class="layout-menu">
    <li>
        <div class="row">
            <div class="col-12" style="display: flex; justify-content: center;">
                <img src="assets/photo_profile.png" alt="" style="width: 50%;">
            </div>
            <div class="col-12" style="display: flex; justify-content: center;">
                <label for=""><b>{{ userData.userFullName? userData.userFullName:''  }}</b></label><br>
            </div>
            <div class="col-12" style="display: flex; justify-content: center;">
                <label for="">{{ userData.email? userData.email:''  }}</label>
            </div>
        </div>
    </li>
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>
