<div class="layout-footer">
    <!-- <img src="assets/layout/images/" alt="Logo" height="20" class="mr-2"/> -->
    {{apps}} - Copyright © 2023
    <span class="font-medium ml-2">Ahsan</span>
    ®
</div>
