<div class="captcha-container">
  <p-checkbox [(ngModel)]="captchaVerified" name="chkVerified" binary="true" label="Saya bukan robot" (ngModelChange)="openCaptchaDialog()" [disabled]="captchaVerified"></p-checkbox>
</div>

<p-dialog header="CAPTCHA" [(visible)]="displayCaptchaDialog" [modal]="true" (onHide)="verifyCaptcha()">
  <div id="image">
    <canvas #captchaCanvas></canvas>
  </div>
  <div class="grid">
    <div class="col-10 offset-2">
      <div class="flex flex-column gap-2">
        <input pInputText id="userInput" placeholder="Masukkan CAPTCHA di sini" aria-describedby="userInput-help" [(ngModel)]="userInput" [ngModelOptions]="{standalone: true}" (blur)="userInputTouched = true" [required]="!userInputValid" />
        <small *ngIf="!userInputValid && userInputTouched" id="userInput-help" class="p-error">{{ userInputMessage }}</small>
      </div>
    </div>
    <div class="col-12">
      <button pButton class="p-button-primary" (click)="verifyCaptcha()">Submit</button>
      <button pButton class="p-button-outlined p-button-primary" style="border-color: #1D3364; color: #1D3364;" (click)="refreshCaptcha()">Refresh</button>
    </div>
  </div>
  <!-- <input type="text" [(ngModel)]="userInput" placeholder="Masukkan CAPTCHA di sini"> &nbsp; -->
</p-dialog>
