.captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  image {
    text-decoration:line-through !important;
    font-style: italic !important;
  }
  canvas {
    border: 1px solid #000;
  }
  
  /* input {
    padding: 5px;
    margin-bottom: 10px;
  } */
  
  button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #1d3364;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #1d3364;
  }
  