<style>
  .card-container h1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
  }
</style>
<div class="p-fluid">
  <div class="grid">
    <div class="col-12">
      <app-widget-breadcrumb [model]="breadcrumbModel"> </app-widget-breadcrumb>
    </div>
  </div>
  <div class="form-group">
    <div class="grid">
      <div class="col-12">
        <p-card header="" class="p-card-grid content">
          <div class="grid mb-4">
            <div class="col-12">
              <h5>Detail Employee</h5>
            </div>
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <div class="grid">
                    <div class="col-12">
                      <label for="">Username</label>
                    </div>
                    <div class="col-12">
                      <input pInputText type="text" [(ngModel)]="dataEmployee.username" [disabled]="true">
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">First Name</label>
                        </div>
                        <div class="col-12">
                          <input pInputText type="text" [(ngModel)]="dataEmployee.firstName" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Last Name</label>
                        </div>
                        <div class="col-12">
                          <input pInputText type="text" [(ngModel)]="dataEmployee.lastName" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Email</label>
                        </div>
                        <div class="col-12">
                          <input pInputText type="text" [(ngModel)]="dataEmployee.email" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Birth Date</label>
                        </div>
                        <div class="col-12">
                          <input pInputText type="text" value="{{ dataEmployee.birthDate | date:'dd MM YYYY' }}" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                  <label for="">Basic Salary</label>
                </div>
                <div class="col-12">
                  <input pInputText type="text" value="{{ dataEmployee.basicSalary | currency:'Rp.' }}" [disabled]="true">
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Group</label>
                        </div>
                        <div class="col-12">
                          <input pInputText type="text" [(ngModel)]="dataEmployee.group" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="grid">
                        <div class="col-12">
                            <label for="">Status</label>
                        </div>
                        <div class="col-12">
                          <input pInputText type="text" [(ngModel)]="dataEmployee.status" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-12 flex">
                  <button pButton type="submit" (click)="backToList()" label="OK" class="" style="width: 25%; background-color: #1D3364;"></button>
              </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
