<div class="ds-selectize">
  <div class="ds-selectize-input-container" (click)="autoFocus(dsselectize)">
    <span *ngFor="let item of listSelected" class="label label-info">
      {{item.name}}
      <a *ngIf="!readOnly" (click)="deleteSelected(item.id)" (click)="deleteSelected2(item.id)">&times;</a>
    </span>
    <input
      #dsselectize 
      class="ds-selectize-input"
      type="text" 
      (focus)="focus()"
      (blur)="blur()" 
      (keyup)="keyup($event)"
      (keydown)="keydown($event)"
      (input)="input($event)"
      placeholder="{{placeholder}}"
      [readonly]="readOnly">
  </div>
  <div *ngIf="displayListItem && !readOnly" class="ds-selectize-list">
    <div 
      class="ds-selectize-list-item"
      id="list-item-{{i}}"
      *ngFor="let d of data; let i=index;"
      (click)="click(d)">{{d.name}}</div>
  </div>
</div>