.ds-selectize
    position: relative
    display: inline-block
    width: 100%

.ds-selectize-input-container 
    border: solid 1px #ccc
    border-radius: 4px
    padding: 0 0 0 3px
    background: white

.ds-selectize input[type=text]
    border: 1px solid transparent
    padding: 5px
    width: 100%
    background: white
    right: 3px
    display: block

.ds-selectize input[type=text]:focus 
    outline: none

.ds-selectize-list 
    position: absolute
    border-right: solid 1px #ccc
    border-bottom: solid 1px #ccc
    border-left: solid 1px #ccc
    background: white
    width: 100%
    max-height: 15vw
    z-index: 100
    overflow-y: scroll

.ds-selectize-list-item 
    width: 100%
    padding: 4px
    cursor: pointer
    display: block
    white-space: normal

.ds-selectize-list-item:hover 
    background: #e9e9e9

.ds-selectize-list-item-active 
    background: #e9e9e9

.label 
    font-size: 12px
    font-weight: normal
    padding: 6px
    vertical-align: middle
    margin: 2px 3px 0 0
    float: left

.label a 
    color: #ffffff
    font-weight: bold
    cursor: pointer


.label a:hover 
    text-decoration: none !important


.widget table tr:hover a 
    text-decoration: none

.label-info
    background: #e0e0e0
    color: #333
    border-radius: 3px